# rename me to .env wih your own setup
# at least update secrets passwords domains and organisations at minimum.

POSTGRES_USER=gitea
POSTGRES_PASSWORD=giteapassword
POSTGRES_DB=gitea

DRONE_SERVER=drone-server:9000
SECRET=drone-random-secret-here
GITEA_URL=https://git.eample.com

I_UNDERSTAND_I_AM_USING_AN_UNSTABLE_VERSION=true
I_AGREE_TO_FIX_BUGS_AND_NOT_FILE_BUGS=true
DRONE_DEBUG=true
DRONE_HOST=https://ci.example.com
DRONE_SECRET=drone-random-secret-here
DRONE_DATABASE_DRIVER=sqlite3
DRONE_DATABASE_DATASOURCE=/var/lib/drone/drone.sqlite
DRONE_OPEN=false
DRONE_ORG=myorg
DRONE_ADMIN=oly
DRONE_ADMIN_ALL=false

DRONE_GOGS=true
DRONE_GOGS_URL=https://git.example.com
DRONE_GOGS_SKIP_VERIFY=true
DRONE_GOGS_PRIVATE_MODE=true
